<input type="file" style="display: none" #cargador>

<button (click)="cargador.click()">Cargar Archivo</button>








<!--<div>
    
   </div>
   <div *ngIf="!peliculas">
     <img  class="imagen" src ="https://c.tenor.com/IRrZibhblugAAAAd/katy-bentz-spin.gif"/>
   </div>
   
   <div *ngIf="peliculas?.length === 0"> 
     <p>No hay peliculas</p>
   </div>
   
   <ng-container *ngIf= "peliculas && peliculas.length > 0 ">
   <div *ngFor="let pelicula of peliculas; let index = index "  class ="pelicula-contenedor" >
   
     <div>
       pelicula {{index +1}}: {{pelicula.titulo}}
     <button style="margin-left: 1rem;" (click)="remover(index)">Remover</button> </div>
     <div>
       {{pelicula.fecha | date:"dd-MMMM-yyyy" |uppercase}}
     </div>
     <div>
       {{pelicula.presio | currency}}
     </div>
   
     </div>
   </ng-container>-->