<app-listado-generico [listado]="peliculas">
 <ng-container vacio>
  <div>mensaje personalizado <b>vacio</b></div>
 </ng-container>


    <ng-container contenido>
   <div *ngFor="let pelicula of peliculas; let index = index "  class ="pelicula-contenedor" >
   
     <div>
       pelicula {{index +1}}: {{pelicula.titulo}}
     <button style="margin-left: 1rem;" (click)="remover(index)">Remover</button> </div>
     <div>
       {{pelicula.fecha | date:"dd-MMMM-yyyy" |uppercase}}
     </div>
     <div>
       {{pelicula.presio | currency}}
     </div>
   
     </div>
    </ng-container>
</app-listado-generico>